/*Add padding and margin to space out the page.
Make the font larger too.*/
html {
	scroll-behavior: smooth; 
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(245, 227, 205, 0.897);
    margin:1%;
    padding:1%;
    font-size:100%;
    overflow-x:hidden;
    position: relative;
}

/*Make the h1 heading bigger with a bold font*/
h1{
    background-color: rgb(238, 178, 173);
    font-size: 2em; 
    font-weight: bold;
}


.active{
    background: rgb(212, 203, 203);
    text-transform: uppercase;
    text-align: center;
}


/*Style the images*/
img{
    display: inline-block;
    border: 3px solid goldenrod;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
}

.fidi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Make the h2 heading match h1*/
h2{
    font-size: 2em; 
    font-style: italic;
    font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1, footer{
    border: 2px solid goldenrod;
    margin: 10px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
    background-color: #f0b7b4;
    padding:10px;
    width:25%;
    border:1px solid black;
    display: inline-block;
    width: 20%;
}



/*Added this so the links stay the same color*/
a:visited{color:#0000FF}


